certifi==2022.12.7
charset-normalizer==3.1.0
dnspython==2.3.0
idna==3.4
keyboard==0.13.5
numpy==1.24.3
panda==0.3.1
Pillow==9.5.0
pymongo==4.3.3
requests==2.29.0
screeninfo==0.8.1
tk==0.1.0
urllib3==1.26.15
